html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 16px;
	font-family: Futura, Georgia, sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

nav {
  text-align: center;
	padding: 20px 0;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

#navLeft {
	width: 45%;
	float: left;
	text-align: left;
	padding-left: 20px;
}

#navRight {
	width: 45%;
	float: right;
	text-align: right;
	padding-right: 20px;
}

.navOnScroll {
	background-color: rgba(94, 118, 131, .5);
}

h1 {
  font-size: 2em;
  color: rgba(205, 212, 216, 1);
}

h2 {
	font-size: 1.25em;
	color: rgba(205, 212, 216, 1);
}

#runner {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
}

.backgroundPhoto {
	width: 100%;
}

.icon {
	width: 32px;
}

.backgroundOpacity {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* color palette
Floral White: rgba(251, 252, 236, 1);
Light Gray: rgba(205, 212, 216, 1);
Deep Carmine: rgba(181, 39, 63, 1);
Aurometalsaurus: rgba(94, 118, 131, 1);
Maastricht Blue: rgba(5, 36, 61, 1); */
