html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 16px;
	font-family: Georgia, sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

nav {
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	transition: .5s ease;
	color: rgba(205, 212, 216, 1);
	padding: 20px 0 10px;
}

#navLeft {
	width: 100%;
}

#navRight {
	display: none;
}

.icon {
	width: 32px;
	padding: 15px;
}

.backgroundPhoto {
	width: 100%;
}

#info {
	text-align: center;
	line-height: 1.5;
	margin: 20px 0;
}

.backgroundOpacity {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#runner {
	width: 100%;
	overflow: hidden;
	position: relative;
	top: 0px;
}

.navOnScroll {
	color: #666;
	background-color: rgba(255, 255, 255, .9);
}

#footer {
	width: 100%;
	text-align: center;
}

#footerLeft {
	width: 100%;
	margin-top: 40px;
	text-align: center;
}

#footerRight {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

#endFooter {
	text-align: center;
	width: 100%;
	margin: 20px 0;
}

.mc_embed_signup {
	text-align: center;
	font-size: 20px;
}

#map {
	margin-top: 30px;
	width: 100%;
}

.info {
	width: 90%;
	margin: 0 auto;
}

@media screen and (min-width: 920px) {
	nav {
	  text-align: center;
		padding: 20px 0 10px;
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
		transition: 1s ease;
		color: rgba(205, 212, 216, 1);
	}

	.navOnScroll {
		color: #666;
		background-color: rgba(255, 255, 255, .9);
	}

	#navLeft {
		width: 45%;
		float: left;
		text-align: left;
		padding-left: 20px;
	}

	#navRight {
		width: 45%;
		float: right;
		text-align: right;
		padding-right: 20px;
    display: inline;
	}

	h1 {
	  font-size: 2em;
		font-family: Futura;
	}

	h2 {
		font-size: 1.75em;
		color: #333;
	}

	h3 {
		font-size: 1.25em;
		font-family: Futura;
	}


	#runner {
		width: 100%;
		overflow: hidden;
		position: relative;
		top: 0px;
	}

	.backgroundPhoto {
		width: 100%;
	}

	.icon {
		width: 32px;
		padding: 15px;
	}

	.backgroundOpacity {
		background-color: rgba(0, 0, 0, .5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#info {
		position: relative;
		top: 20px;
		text-align: center;
		width: 100%;
		margin: 20px auto;
		line-height: 1.5;
		color: #333;
	}

	.info {
		margin: 20px auto;
		font-size: 1.1em;
		width: 95%;
	}

	#map {
		margin-top: 30px;
		width: 100%;
	}

	#strava {
		margin: 20px 0;
	}

	#newsletter {
		margin: 20px 0;
	}

	footer {
		text-align: center;
		margin: 50px 0 30px;
	}

	#footerLeft {
		float: left;
		width: 33%;
		height: 200px;
		margin-top: 40px;
	}

	#footerRight {
		float: right;
		width: 33%;
		height: 200px;
		margin-top: 20px;
	}

	#endFooter {
		float: left;
		width: 33%;
		height: 200px;
		margin-top: 20px;
	}

	.mc_embed_signup {
		text-align: center;
		font-size: 20px;
	}

}


/* color palette
Floral White: rgba(251, 252, 236, 1);
Light Gray: rgba(205, 212, 216, 1);
Deep Carmine: rgba(181, 39, 63, 1);
Aurometalsaurus: rgba(94, 118, 131, 1);
Maastricht Blue: rgba(5, 36, 61, 1); */
